.page {
    background-color: white;
}

.main {
    display: flex;
    width: 100%;
    flex-flow: column;
}

.header {
    background-color: rgba(0, 18, 29, 0.884);
    color: white;
    display: block;
    flex-flow: row;
    width: auto;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
}

.btn {
    height: 30px;
    width: 60px;
    border: none;
    margin-top: 0.8em;
    float: right;
    margin-top: -50px;
    margin-right: 8px;
    background-color: #66BB6A;
}

.content {
    display: flex;
    flex-flow: row;
    margin-top: 3em;
    height: 30em;
}

.category {
    background-color: white;
    display: inline-flex;
    width: 25%;
    border-right: 3px solid #66BB6A;
    flex-flow: column;
}

.heading {
    margin-left: 1em;
    font-size: 30px;
    color: rgb(84, 177, 65);
}

.items {
    display: inline-flex;
    margin-left: auto;
    flex-flow: column;
    width: 75%;
    background-color: white;
}

ul li {
    list-style: none;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.foot {
    height: 80px;
    text-align: center;
    margin-top: 15px;
}

.log {
    background-color: whitesmoke;
    height: 150px;
    display: inline-flex;
    flex-flow: column;
    margin-left: 20%;
    margin-top: 10%;
    font-size: 50px;
}

.gbtn {
    margin-left: 38%;
    margin-top: 20px;
}

.cat-list {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

.add-item {
    margin-left: 350px;
    font-size: 25px;
    margin-top: -32px;
}

.title {
    margin-left: 3em;
    font-size: 20px;
    color: orange;
}

.box {
    margin-left: 4.5em;
}

.form-btn {
    height: 30px;
    width: 60px;
    border: none;
    margin-left: 4.5em;
    margin-top: 1em;
    background-color: #66BB6A;
}

.details {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 50%;
    margin-left: 1.8em;
}

.links-span {
    width: 15%;
    margin-top: 2em;
}

.links {
    color: orange;
    font-size: 16px;
    margin-left: 2.2em;
}