<!DOCTYPE html>
<html>

<head>
    <title>Add Car</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles.css')}}" />
</head>

<body>
    <main>
        <span class="heading">Add Car</span>
        <form action="{{url_for('addCar')}}" method="POST">
            <br/>
            <span class="title">Name</span><br/>
            <input type="text" name="name" placeholder="Name of the car" class="box" required /><br/><br/> <span class="title">Description</span><br/>
            <textarea name="desc" placeholder="please enter the description" class="box" required></textarea><br/><br/><span class="title">Manufacturer</span><br/>
            <select name="cat" class="box" required>
                <option value="Toyota">Toyota</option>
                <option value="Mercedes">Mercedes</option>
                <option value="BMW">BMW</option>
                <option value="Ferrari">Ferrari</option>
                <option value="Volkswagen">Volkswagen</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Audi">Audi</option>
            </select><br/><br/>
            <input type="submit" value="Add" class="form-btn" />
        </form>
    </main>
</body>

</html>