<!DOCTYPE html>
<html>

<head>
    <title>Car details</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles.css')}}" />
</head>

<body class="page">
    <main class="main">
        <header class="header">
            <h1>Welcome to Item Catalog Project</h1>
            <a href="{{url_for('logIn')}}"><button class="btn">Log In</button></a>
        </header>
        <div class="content">
            <section class="category">
                <span class="heading">Manufacturers</span>
                <ul>{% for cat in manufacturers %}
                    <li><a href="{{url_for('viewPublicCars', manufacturer = cat.manufacturer)}}" class="cat-list">{{cat.manufacturer}}</a></li>
                    {% endfor %}
                </ul>
            </section>
            <section class="items">
                <span class="heading">{{carD.name}} Details (manufactured by {{carD.manufacturer}})</span>
                <p class="details">{{carD.description}}</p><br/><br/>
            </section>
        </div>
        <footer class="foot">
            <span class="heading">Developed by Vikrant Kadian</span>
        </footer>
    </main>
</body>

</html>